body {
  font-family: "Lora", serif;
}

#idyll-scroll-0 {
  background-color: #222222;
}

.idyll-scroll-graphic {
  z-index: 0!important;
}

.idyll-step {
  z-index: 1;
  position: relative;
}

.legend-container {
  display: flex;
  align-items: center;
}

.legend-item {
  margin-right: 16px;
}

.legend-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 6px;
}

.recharts-label {
  text-anchor: middle;
}